<div class="flex-horizontal full-width mt-3">
  <button class="btn btn-dark me-1" (click)="goBack()">&#8592;</button>
</div>

<h2>Create a new horse</h2>

<form [formGroup]="horseForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="name">Name:</label><br>
    <input type="text" class="form-control" id="name" formControlName="name">
  </div>

  <div class="form-group">
    <label for="description">Description:</label><br>
    <textarea id="description" class="form-control" formControlName="description"></textarea><br>
  </div>

  <div class="form-group">
    <label for="dateOfBirth">Date of birth:</label><br>
    <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth"><br>
  </div>

  <div class="form-check">
    <input type="radio" class="form-check-input" type="radio" formControlName="sex" id="male" value="male" checked>
    <label class="form-check-label" for="male">male</label>
  </div>
  <div class="form-check">
    <input type="radio" class="form-check-input" type="radio" formControlName="sex" id="female" value="female">
    <label class="form-check-label" for="female">female</label>
  </div>

  <div class="form-group">
    <label for="typeahead-owner">Owner:</label>
    <input id="typeahead-owner" type="text" class="form-control"
           formControlName="owner"
           [ngbTypeahead]="searchOwner"
           [resultFormatter]="ownerFormatter"
           [inputFormatter]="ownerFormatter"
           [editable]='false'>
  </div>

  <div class="form-group">
    <label for="typeahead-father">Father:</label>
    <input id="typeahead-father" type="text" class="form-control"
           formControlName="father"
           [ngbTypeahead]="searchFather"
           [resultFormatter]="formatter"
           [inputFormatter]="formatter"
           [editable]='false'>
  </div>

  <div class="form-group">
    <label for="typeahead-mother">Mother:</label>
    <input id="typeahead-mother" type="text" class="form-control"
           formControlName="mother"
           [ngbTypeahead]="searchMother"
           [resultFormatter]="formatter"
           [inputFormatter]="formatter"
           [editable]='false'>
  </div>

  <div class="mt-3">
    <button [disabled]="horseForm.invalid" class="btn btn-primary" type="submit">Submit</button>
  </div>

</form>
