<div *ngIf="messageService.currentMessage" class="mt-3"
     [ngClass]="{
          'bg-light text-black' : messageService.currentMessage.level == 'info',
          'bg-success text-white' : messageService.currentMessage.level == 'success',
          'bg-warning text-black' : messageService.currentMessage.level == 'warning',
          'bg-danger text-white' : messageService.currentMessage.level == 'error'
            }">


  <button type="button" class="btn-close me-1" (click)="messageService.clear()"></button>
  {{messageService.currentMessage.text}}
</div>
